*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.app-container{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 1px;
    border-color: black;
    background-color: transparent;
    border: 2px;
    border-style: double;
    border-radius: 10px;
    padding: 10px;
    height: 40vh;
    width: fit-content;
    box-shadow: 0px 4px 16px 0px #000000;
}
h1{
    color:rebeccapurple;
    font-family: Roboto;
    font-weight: bold;
}

p{
    color: black;
    padding-top: 20px;
    font-family: Bree Serif;
    font-weight: bold;
}

button{
    background-color: transparent;
    border-style: double;
    border-width: 1px;
    color: black;
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
    box-shadow: 0px 4px 16px 0px #000000;

}

.count{
    color: red;
}